<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12">
            <form #empDetails="ngForm" (ngSubmit)="sendEmpDetails(empDetails.value)">
                <div class="form-group">
                    <label for="empName">EmpLoyee Name</label>
                    <input ngModel name="empName" #empName="ngModel"
                     type="text" id="empName" class="form-control" required>
                     <div class="alert alert-danger" *ngIf="empName.touched && !empName.valid">
                        Please Enter Emp Name...!!
                     </div>
                </div>
                <div class="form-group">
                    <label for="empDest">Emp Destination</label>
                    <input ngModel name="empDest" #empDest="ngModel"
                     type="text" id="empDest" class="form-control" required>
                     <div class="alert alert-danger" *ngIf="empDest.touched && !empDest.valid">
                        Please Enter Emp Destination...!!
                     </div>
                </div>
                <div class="form-group">
                    <label for="empSalary">Emp Salary</label>
                    <input ngModel name="empSalary" #empSalary="ngModel"
                     type="text" id="empSalary" class="form-control" required pattern="[0-9]{6}">
                     <div class="alert alert-danger" *ngIf="empSalary.touched && !empSalary.valid">
                        <div *ngIf="empSalary?.errors?.['required']">Please Enter Emp Salary...!!</div>
                        <div *ngIf="empSalary?.errors?.['pattern']">Emp Salary Should be Enter Only Numbers...!!</div>
                     </div>
                </div>
                <input type="submit" class="btn btn-success" value="Ragister" [disabled]="!empDetails.valid">
            </form>
        </div>
        <div class="col-xl-8 col-md-8 col-sm-12">
            <ng-container *ngIf="empLoad.length > 0">
                <table class="table table-light table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>Emp Name</th>
                            <th>Emp Dest</th>
                            <th>Emp Salary</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of empLoad, index as i">
                            <td>{{i + 1}}</td>
                            <td>{{item.empName}}</td>
                            <td>{{item.empDest}}</td>
                            <td>{{item.empSalary}}</td>
                            <td><button class="btn-delete" (click)="empOnDelete(item.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12">
          <form #person="ngForm" (ngSubmit)="onAdd(person.value)"> 
            <div class="form-group">
                <label for="fname">First Name</label>
                <input ngModel name="fname" #fname="ngModel"
                 type="text" fname="" class="form-control" required>
                 <div class="alert alert-danger" *ngIf="fname.touched && !fname.valid">
                    Please Enter Name...!!
                 </div>
            </div>
            
            <div class="from-group">
                <label for="lname">Last Name</label>
                <input ngModel name="lname" #lname="ngModel"
                 type="text" id="lname" class="form-control" required>
                 <div class="alert alert-danger" *ngIf="lname.touched && !lname.valid">
                    Please Enter Last Name...!!
                 </div>
             </div>
             <div class="form-group">
                <label for="contact">Mobile Number</label>
                <input ngModel name="contact" #contact="ngModel"
                type="text" id="contact" class="form-control" required>
                <div class="alert alert-danger" *ngIf="contact.touched && !contact.valid">
                    Please Enter Mobile Number...!!
                </div>
             </div>
             <input type="submit" class="btn btn-success" value="{{editMode ? 'Update ' : 'Add'}}" [disabled]="!person.valid">
          </form>
        </div>
        <div class="col-xl-8 col-md-8 col-sm-12">
            <ng-container *ngIf="onMan.length > 0">
                <table class="table table-light">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of onMan, index as i">
                            <td>{{i + 1}}</td>
                            <td>{{item.fname}}</td>
                            <td>{{item.lname}}</td>
                            <td>{{item.contact}}</td>
                            <td><button class="btn btn-danger" (click)="onPersonDelete(item.id)">Delete</button></td>
                            <td><input type="button" class="btn btn-primary" value="Edit"
                                (click)="onEdit(item.id)"></td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
</div>